<!-- templates/chat.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
</head>
<body>
    <h1>Chat Room</h1>
    <div id="chat-log"></div>
    <input id="chat-message-input" type="text" placeholder="Type a message...">
    <button id="chat-message-input-send">Send</button>

    <script>
        const chatSocket = new WebSocket('ws://' + window.location.host + '/ws/chat/');

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').innerHTML += '<p>' + data.message + '</p>';
        };

        document.querySelector('#chat-message-input-send').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({'message': message}));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>
